@import "~bootstrap/dist/css/bootstrap.min.css";
.random-card {
  display: flex;
  align-items: space-evenly;
  flex-direction: row;
  background-color: white;
  width: 10px;
  height: 40px;
}
body {
  background-color: green;
}
